.footer {
    background-color: #222;
    color: #fff;
    padding: 4em;
    text-align: center;
}

.social_list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-right: 40px;
}

.social_list li {
    margin: 0 1em;
}

.social_list_instagram {
    color: #7bcee2;
}

.social_list li:hover {
    color: #edeef0;
}

.social_list svg {
   font-size: 1.5em;
   cursor: pointer;
}
.copy_right {
    margin-top: 2em;
    /* padding-left: 30px; */
}

.copy_right span {
    font-weight: bold;
    color: #7bcee2;
}