.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 60px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 49px;
    box-shadow: 1px 1px 1px #999;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 16px;
}

.p {
    font-family: Georgia;
    font-size: 30px;
    text-align: center;
    padding: 198px;
}